<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>921074003255-qetrhn4f6p2804pe7095v5tmgp9abon9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921074003255-qetrhn4f6p2804pe7095v5tmgp9abon9</string>
	<key>API_KEY</key>
	<string>AIzaSyAZfxq5RZVcZ4_5Gx49xxTtLj7VFNW7ytg</string>
	<key>GCM_SENDER_ID</key>
	<string>921074003255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.polusHack</string>
	<key>PROJECT_ID</key>
	<string>zoloto-hack</string>
	<key>STORAGE_BUCKET</key>
	<string>zoloto-hack.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921074003255:ios:30b6518e1873e479f23eb2</string>
</dict>
</plist>